mpi_pow
openmp_pow

mpi_async
mpi_sync

allreduce

omp_sched

run_cuda

aplusb

odd_even_sort
generate

# exp6
test_gmem
test_smem
*.dat

# PA2
benchmark

#PA3
build

#exp8
main
*.json

*.py
*.png

*.pdf
*.tex
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.log
*.aux
*.fdb_latexmk
*.fls


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
